# Virtual environment
venv/
.venv/

# Flask instance folder
instance/*

# Python cache
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# PyCharm
.idea/

# Environment variables
.env

# Node modules (tailwind CSS)
node_modules/